@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&display=swap');

*{
 font-family: 'Outfit', sans-serif;
 margin: 0;
 padding: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #DBE2EF;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.no-copy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  height: 90vh;
  font-size: 180px;
}

a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  font-size: 2em;
  text-decoration: none;
  margin-top: 24px;
}
